/cache
/wildberries_cache
/__pycache__
web-interface/node_modules/*
venv
photo/*
*/uploads/*
node_modules/*
uploads/*
web-interface/uploads/*
web-interface/node_modules/*
web-interface/venv/*
web-interface/cache/*
web-interface/wildberries_cache/*
web-interface/__pycache__/*
web-interface/node_modules/*
web-interface/.next/*
*.log